{% extends 'page.html' %}

{% block title %}photo_list{% endblock %}

{% block content %}
<style>
    .container {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
    }
    .photo-item {
        border: 1px solid #ccc;
        padding: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .photo-info {
        margin-top: 20px;
        text-align: center;
    }
    .photo-info p {
        margin: 5px 0;
    }
    .annotated-image {
        max-width: 100%;
        height: auto;
    }
</style>

<div class="container">
    {% for image in annotated_images %}
    <div class="photo-item">
        <img src="{{ image.image.url }}" alt="Annotated Image" class="annotated-image">
        <div class="photo-info">
            {% with image.json_data.patientInfo as info %}
            <p><strong>Age:</strong> {{ info.age }}</p>
            <p><strong>Gender:</strong> {{ info.gender }}</p>
            <p><strong>Symptoms:</strong> {{ info.symptoms }}</p>
            <p><strong>File Name:</strong> {{ info.fileName }}</p>
            {% endwith %}
        </div>
    </div>
    {% endfor %}
</div>

<footer>
    &copy; 2024 System internetowy do adnotacji danych ilustrujących zmiany skórne
</footer>
{% endblock %}
